psm-services-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;

  .services-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    psm-service {
      display: flex;
      flex-direction: row;
      border: 1px solid white;
      border-radius: 1rem;
      width: 100%;
      gap: 2rem;
      img {
        border-radius: 1rem;
        max-width: 30rem;
        max-height: 30rem;
        width: 30vw;
        height: 30vw;
      }
      .service-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          padding-bottom: 1rem;
        }

        .description {
          display: flex;
          width: 100%;
          flex-direction: row;
          font-weight: 600;
          mat-icon {
            font-size: 10px;
            overflow: visible;
            padding-top: 0.5rem;
            padding-right: 0.2rem;
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    .services-wrapper {
      width: 100%;
      psm-service {
        flex-direction: column;
      }
    }
  }
}
