psm-services-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  .services-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background: #ffcfee;
  }
  psm-service {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 100%;
    gap: 2rem;
    img {
      max-width: 30rem;
      max-height: 30rem;
      width: 30vw;
      height: 30vw;
    }
    .service-description {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 800px) {
    .services-wrapper {
      width: 100%;
    }
  }
}
