@use "@angular/material" as mat;

// Define your own palettes
$psm-accent: mat.define-palette(mat.$pink-palette);
$psm-primary: mat.define-palette(mat.$pink-palette, 50, 200, 400);
$psm-warn: mat.define-palette(mat.$red-palette);

// Create the theme
$psm-theme: mat.define-light-theme(
  (
    color: (
      primary: $psm-primary,
      accent: $psm-accent,
      warn: $psm-warn,
    ),
  )
);

// Include the theme styles
@include mat.all-component-themes($psm-theme);
@include mat.core();
