psm-navbar {
  .mat-drawer-side.mat-drawer-end {
    width: 100%;
  }
  .under-construction {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .outlet {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-color: #ffbcdf;
  }
  .navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 11rem;
    position: relative;
    z-index: 1;
    background: #ffeff9;
    border-bottom: 5px solid #ff3787;
    .navbar {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      width: 90%;
      background-color: #ffeff9;
      .navLogo {
        width: 25%;
        cursor: pointer;
        img {
          max-width: 13rem;
        }
      }
      .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        gap: 4rem;
        width: 50%;
        text-wrap: nowrap;
        .category {
          cursor: pointer;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          color: inherit;
          text-transform: uppercase;
        }
        .active-link {
          border-bottom: 3px solid #ff3787;
        }
      }
      .call {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-weight: 600;
        width: 50%;
        text-decoration: none;
      }
      .menu {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        button {
          cursor: pointer;
          border: none;
          background-color: transparent;
          mat-icon {
            font-size: 3rem;
          }
        }
      }
    }
  }

  // Material overrides
  .mat-drawer-container {
    height: 100%;
    .nav-item {
      text-align: center;
      background-color: transparent;
      font-weight: 600;
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      border: 1px solid white;
      padding: 2rem 1rem;
      border-bottom: 1px solid #ff3787;
    }
    .active-link {
      background-color: #ffeff9;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }
}

@media (max-width: 1000px) {
  psm-navbar {
    .navbar-wrapper {
      .navbar {
        width: 100%;
        .navLogo {
          img {
            max-width: 11rem;
          }
        }
      }
    }
  }
}
